  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #256db1;
  }
  
  button {
    cursor: pointer;
  }

  .principal {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background: white;
    margin-right: 40px;
  }
  
  .Incluir {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 50px;
  }
  
  .principal span {
    font-size: 55px;
    margin-left: 200px;
    word-break: break-all;
  }
  
  #incluir {
    font-size: 19px;
    width: 100px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #256db1;
  }
  
  .divTable {
    padding: 10px;
    width: auto; 
    height:inherit; 
    overflow:auto;
  }
  
  .divTable::-webkit-scrollbar {
    width: 12px;
    background-color: whitesmoke; 
  }
  
  .divTable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgray; 
  }
  
  table {
    width: 100%;
    border-spacing: 10px;
    word-break: break-all;
    border-collapse: collapse;
  }
  
  thead {
    background-color: whitesmoke;
  }
  
  tr {
    border-bottom: 1px solid rgb(238, 235, 235)!important;
  }
  
  tbody tr td {
    vertical-align: text-top;
    padding: 6px;
    max-width: 50px;
  }

  thead tr th {
    padding: 5px;
    text-align: start;
    margin-bottom: 50px;
  }

  tbody tr {
    margin-bottom: 50px;
  }
  
  @media (max-width: 700px) {
    body {
      font-size: 10px;
    }
    
    .header span {
      font-size: 15px;
    }
  
    #new {
      padding: 5px;
      font-size: 10px;
    }

    td button i {
      font-size: 20px!important;
    }
  
    td button i:first-child {
      margin-right: 0;
    }
  
    .modal {
      width: 90%!important;
    }
  
    .modal label {
      font-size: 12px!important;
    }
  }
  
  .modal-container-cadastro{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
  }

  .modal-container-alteração{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    position: relative;
    margin: -90px 720px 0px;
    width: 470px;
    height: 500px;
    border: 1px black solid;
    padding: 0px 22px 22px 22px;
    border-radius: 12px;
    background-color: #256db1;
  }
  
  .modal label {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 17px;
    font-size: 29px;
  }

  h1 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    position: relative;
  }
  h1:before,
  h1:after {
  content: "";
  width: 30%;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  }
  h1:before {
  left: 0;
  }
  h1:after {
  right: 0;
  }
  
  .modal input {
    display: block;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 5px;
    height: 33px;
    width: 390px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 23px;
  }
  
  .modal button {
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    border-radius: 28px;
    background-color: #fff;
    height: 45px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    position: relative;
    border: 0px;
    margin-left: 110px;
  }
  
  .active {
    display: flex;
  }
  